;===========random map============
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; =====================================================
; ==============  RANDOM ALT DETECTION  ===============
; =====================================================
add:
; only used to detect presence of hard path by Random
{
    "solid" "0"
    "rendermode" "10"
    "origin" "0 0 0"
    "angles" "0 0 0"
    "model" "models/props_mall/mall_mannequin_lhand.mdl"
    "classname" "prop_dynamic_override"
    "hammerid" "999999"
    "targetname" "random_detect_alt"
}
; =====================================================


; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block drainage tunnel hole near rescue closet to prevent getting knocked inside
{
    ; invisible block in drainage tunnel hole
    "origin" "-8044 -7280 -408"
    "mins" "-4 -104 -56"
    "maxs" "4 104 56"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing wall with common to bypass event
{
    ; invisible block along wall section
    "origin" "-8050 -8422 -487"
    "mins" "-26 -75 -88"
    "maxs" "26 75 88"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common jumping up into windows to get on roofs and off map
{
    ; invisible block in windows
    "origin" "-6452 -6008 136"
    "mins" "-167 -8 -44"
    "maxs" "167 8 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block bhopping into windows near end of map
{
    ; invisible block in windows
    "origin" "-8252 -6008 16"
    "mins" "-352 -8 -64"
    "maxs" "352 8 64"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================


; =====================================================
; =================   RESTRICTIVE   ===================
; =====================================================
add:
; ----------- right out of saferoom
{
    ; pipe - block off left path, force through (dangerous) right -- pipe curve
    "solid" "6"
    "origin" "-11180 -8090 -470"
    "angles" "0 0 0"
    "model" "models/props_pipes/pipeset32d_corner128d_001a.mdl"
    "classname" "prop_dynamic"
}
{
    ; pipe - block off left path, force through (dangerous) right -- straight
    "solid" "6"
    "origin" "-10990 -8090 -431"
    "angles" "0 0 0"
    "model" "models/props_pipes/pipeset32d_256_001a.mdl"
    "classname" "prop_dynamic"
}
; ----------- after crescendo event
{
    ; gate - block off right path, force through left side - a
    "solid" "6"
    "origin" "-7900 -7298 -196"
    "angles" "0 0 90"
    "model" "models/props_canal/canal_bars004.mdl"
    "classname" "prop_dynamic"
}
{
    ; gate - block off right path, force through left side - b
    "solid" "6"
    "origin" "-7900 -7218 -196"
    "angles" "0 0 270"
    "model" "models/props_canal/canal_bars004.mdl"
    "classname" "prop_dynamic"
}
{
    ; gate - block off left path further on, force right again - a
    "solid" "6"
    "origin" "-7430 -6966 -196"
    "angles" "0 0 90"
    "model" "models/props_canal/canal_bars004.mdl"
    "classname" "prop_dynamic"
}
{
    ; gate - block off left path further on, force right again - b
    "solid" "6"
    "origin" "-7430 -6886 -196"
    "angles" "0 0 270"
    "model" "models/props_canal/canal_bars004.mdl"
    "classname" "prop_dynamic"
}
; ----------- block "ladder" to climb up near window, force survivors through
;{
;   ; column - debris to block ladder
;    "solid" "6"
;    "origin" "-6440 -7110 -520"
;    "angles" "25 0 .2"
;    "model" "models/props_mill/column_01.mdl"
;    "classname" "prop_dynamic"
;}
;{
;    ; stone debris - debris to block ladder
;    "solid" "6"
;    "origin" "-6280 -7110 -150"
;    "angles" "0 80 0"
;    "model" "models/props_debris/barricade_tall04a.mdl"
;    "classname" "prop_dynamic"
;}
;{
;    ; invisible block - because the beam doesn't actually block the stairs
;    "origin" " -6252 -7122 -200"
;    "mins" "-80 -40 0"
;    "maxs" "80 40 150"
;    "initialstate" "1"
;    "BlockType" "1"
;    "classname" "env_player_blocker"
;}
; ----------- block most direct access to end saferoom
{
    ; concrete bags
    "solid" "6"
    "origin" "-7464 -5560 -56"
    "angles" "0 0 0"
    "model" "models/props/de_prodigy/concretebags.mdl"
    "classname" "prop_dynamic"
}
{
    ; concrete bags 2
    "solid" "6"
    "origin" "-7470 -5500 -52"
    "angles" "0 270 0"
    "model" "models/props/de_prodigy/concretebags.mdl"
    "classname" "prop_dynamic"
}
{
    ; concrete bags 3 (lower)
    "solid" "6"
    "origin" "-7470 -5390 -46"
    "angles" "0 0 0"
    "model" "models/props/de_prodigy/concretebags3.mdl"
    "classname" "prop_dynamic"
}
{
    ; invisible block to avoid jumping the concrete bags
    "origin" "-7442 -5475 26"
    "mins" "-64 -112 0"
    "maxs" "0 0 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; =====================================================

; --- block drainage tunnel hole near rescue closet to prevent getting knocked inside
{
    ; invisible block in drainage tunnel hole
    "origin" "-8044 -7280 -408"
    "mins" "-4 -104 -56"
    "maxs" "4 104 56"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing wall with common to bypass event
{
    ; invisible block along wall section
    "origin" "-8050 -8422 -487"
    "mins" "-26 -75 -88"
    "maxs" "26 75 88"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common jumping up into windows to get on roofs and off map
{
    ; invisible block in windows
    "origin" "-6452 -6008 136"
    "mins" "-167 -8 -44"
    "maxs" "167 8 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block bhopping into windows near end of map
{
    ; invisible block in windows
    "origin" "-8252 -6008 16"
    "mins" "-352 -8 -64"
    "maxs" "352 8 64"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; =====================================================
;=============end lex edition======================
; =====================================================
}
//lex add armas na safe
; ======================================================================
; ================ lex armas na safe SAFEROOM WEAPONS ==================
; ======================================================================
add:
; --- add tier 1 shotgun/smg in the saferoom
;{
;		"classname" "weapon_shotgun_chrome"
;		"origin" "-11794 -14682 -143"
;		"angles" "8 -7 0"
;		"ammo" "80"
;}
;{
;		"classname" "weapon_smg_silenced"
;		"ammo" "600"
;		"origin" "-11784 -14682 -143"
;		"angles" "3 -13 0"
;}
;{
;		"classname" "weapon_sniper_awp"
;		"ammo" "150"
;	"origin" "-11069.91 -9007.26 -530"
;		"angles" "3 -13 0"
;}
{
		"classname" "weapon_sniper_scout"
		"ammo" "150"
		"origin" "-11069.91 -9007.26 -530"
		"angles" "3 -13 0"
}
;{
;		"classname"	"weapon_hunting_rifle"
;		"ammo" "150"
;		"origin" "-11069.91 -9007.26 -530"
;		"angles" "3 -13 0"
;}


; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
    "hammerid" "1814273"
}
{
    "hammerid" "1787790"
}
{
    "hammerid" "1787818"
}
{ 
    "hammerid" "1787826"
}
{
    "hammerid" "1814310"
}
{
    "hammerid" "1787830"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block drainage tunnel hole near rescue closet to prevent getting knocked inside
{
    ; invisible block in drainage tunnel hole
    "origin" "-8044 -7280 -408"
    "mins" "-4 -104 -56"
    "maxs" "4 104 56"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block climbing wall with common to bypass event
{
    ; invisible block along wall section
    "origin" "-8050 -8422 -487"
    "mins" "-26 -75 -88"
    "maxs" "26 75 88"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common jumping up into windows to get on roofs and off map
{
    ; invisible block in windows
    "origin" "-6452 -6008 136"
    "mins" "-167 -8 -44"
    "maxs" "167 8 44"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block bhopping into windows near end of map
{
    ; invisible block in windows
    "origin" "-8252 -6008 16"
    "mins" "-352 -8 -64"
    "maxs" "352 8 64"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block two stuck spots underneath hanging lights in the saferoom
{
    ; invisible block left side
    "origin" "-11407 -8917 -482"
    "mins" "-1 -22.5 -111.5"
    "maxs" "1 22.5 111.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
    ; invisible block right side
    "origin" "-11001 -8917 -482"
    "mins" "-1 -22.5 -111.5"
    "maxs" "1 22.5 111.5"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; =====================================================
; --- light 1
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite1"
	"origin" "-11391.53 -9151.96 -308.28"
	"angles" "0 0 0"
	"cpoint1" "pmlite2"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite2"
	"origin" "-11284.07 -8832.03 -310.27"
	"angles" "90 90 0"
}
; --- light 2
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite3"
	"origin" "-11263.96 -8832.89 -309.60"
	"angles" "0 0 0"
	"cpoint1" "pmlite4"
	"effect_name" "string_lights_05"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite4"
	"origin" "-11152.03 -9142.04 -309.04"
	"angles" "90 90 0"
}
; --- light 3
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite5"
	"origin" "-11135.96 -9151.40 -307.92"
	"angles" "0 0 0"
	"cpoint1" "pmlite6"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite6"
	"origin" "-11024.70 -8832.03 -310.47"
	"angles" "90 90 0"
}
; --- light 4
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite7"
	"origin" "-10937.01 -8631.96 -26.83"
	"angles" "0 0 0"
	"cpoint1" "pmlite8"
	"effect_name" "string_lights_06"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite8"
	"origin" "-11667.28 -8152.03 -80.95"
	"angles" "90 90 0"
}
; --- light 5
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite9"
	"origin" "-11241.22 -8062.36 -217.41"
	"angles" "0 0 0"
	"cpoint1" "pmlite10"
	"effect_name" "string_lights_06"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite10"
	"origin" "-10938.12 -8057.13 -222.85"
	"angles" "90 90 0"
}
; --- light 6
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite11"
	"origin" "-11669.24 -8802.94 -44.03"
	"angles" "0 0 0"
	"cpoint1" "pmlite12"
	"effect_name" "string_lights_02"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite12"
	"origin" "-10936.75 -8160.03 -2.04"
	"angles" "90 90 0"
}
; --- light 7
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite13"
	"origin" "-10048.76 -7186.05 -251.02"
	"angles" "0 0 0"
	"cpoint1" "pmlite14"
	"effect_name" "string_lights_06"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite14"
	"origin" "-9765.94 -7457.16 -254.05"
	"angles" "90 90 0"
}
; --- light 8
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite15"
	"origin" "-10055.53 -7374.39 -251.94"
	"angles" "0 0 0"
	"cpoint1" "pmlite16"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite16"
	"origin" "-9768.55 -7108.87 -252.97"
	"angles" "90 90 0"
}
; --- light 9
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite17"
	"origin" "-9953.24 -7442.75 -250.20"
	"angles" "0 0 0"
	"cpoint1" "pmlite18"
	"effect_name" "string_lights_01"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite18"
	"origin" "-9812.23 -7039.06 -161.34"
	"angles" "90 90 0"
}
; --- light 10
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite19"
	"origin" "-9391.96 -7277.37 -639.56"
	"angles" "0 0 0"
	"cpoint1" "pmlite20"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite20"
	"origin" "-9232.03 -7280.72 -594.42"
	"angles" "90 90 0"
}
; --- light 11
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite21"
	"origin" "-9151.96 -7279.50 -566.32"
	"angles" "0 0 0"
	"cpoint1" "pmlite22"
	"effect_name" "string_lights_05"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite22"
	"origin" "-8992.03 -7281.76 -509.88"
	"angles" "90 90 0"
}
; --- light 12
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite23"
	"origin" "-8565.49 -7143.14 -457.14"
	"angles" "0 0 0"
	"cpoint1" "pmlite24"
	"effect_name" "string_lights_01"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite24"
	"origin" "-8423.19 -7268.43 -332.34"
	"angles" "90 90 0"
}
; --- light 13
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite25"
	"origin" "-8963.85 -8434.39 -138.03"
	"angles" "0 0 0"
	"cpoint1" "pmlite26"
	"effect_name" "string_lights_06"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite26"
	"origin" "-8965.48 -8046.93 -114.54"
	"angles" "90 90 0"
}
; --- light 14
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite27"
	"origin" "-8302.45 -8765.45 -114.03"
	"angles" "0 0 0"
	"cpoint1" "pmlite28"
	"effect_name" "string_lights_05"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite28"
	"origin" "-8643.45 -8764.77 -114.03"
	"angles" "90 90 0"
}
; --- light 15
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite29"
	"origin" "-8477.54 -8263.43 -114.03"
	"angles" "0 0 0"
	"cpoint1" "pmlite30"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite30"
	"origin" "-8304.93 -8006.05 -114.03"
	"angles" "90 90 0"
}
; --- light 16
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite31"
	"origin" "-6943.96 -6586.26 -89.47"
	"angles" "0 0 0"
	"cpoint1" "pmlite32"
	"effect_name" "string_lights_01"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite32"
	"origin" "-6816.03 -6711.98 -91.55"
	"angles" "90 90 0"
}
; --- light 17
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite33"
	"origin" "-6816.03 -6709.77 -91.35"
	"angles" "0 0 0"
	"cpoint1" "pmlite34"
	"effect_name" "string_lights_05"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite34"
	"origin" "-6943.96 -6816.02 -90.90"
	"angles" "90 90 0"
}
; --- light 18
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite35"
	"origin" "-6943.96 -6815.32 -90.82"
	"angles" "0 0 0"
	"cpoint1" "pmlite36"
	"effect_name" "string_lights_02"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite36"
	"origin" "-6816.03 -6925.28 -90.88"
	"angles" "90 90 0"
}
; --- light 19
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite37"
	"origin" "-6816.03 -6925.52 -90.86"
	"angles" "0 0 0"
	"cpoint1" "pmlite38"
	"effect_name" "string_lights_05"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite38"
	"origin" "-6943.96 -7021.90 -92.30"
	"angles" "90 90 0"
}
; --- light 20
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite39"
	"origin" "-6399.96 -7073.90 71.13"
	"angles" "0 0 0"
	"cpoint1" "pmlite40"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite40"
	"origin" "-6208.03 -7263.28 198.59"
	"angles" "90 90 0"
}
; --- light 21
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite41"
	"origin" "-5681.13 -6427.15 461.72"
	"angles" "0 0 0"
	"cpoint1" "pmlite42"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite42"
	"origin" "-6191.96 -6237.25 473.19"
	"angles" "90 90 0"
}
; --- light 22
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite43"
	"origin" "-6205.08 -6231.96 471.15"
	"angles" "0 0 0"
	"cpoint1" "pmlite44"
	"effect_name" "string_lights_01"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite44"
	"origin" "-6514.48 -5359.69 405.51"
	"angles" "90 90 0"
}
; --- light 23
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite45"
	"origin" "-7496.36 -5746.76 240.66"
	"angles" "0 0 0"
	"cpoint1" "pmlite46"
	"effect_name" "string_lights_06"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite46"
	"origin" "-7493.69 -5513.68 245.10"
	"angles" "90 90 0"
}
; --- light 24
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite47"
	"origin" "-7636.03 -5983.96 157.96"
	"angles" "0 0 0"
	"cpoint1" "pmlite48"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite48"
	"origin" "-7859.83 -5728.73 159.96"
	"angles" "90 90 0"
}
; --- light 25
add:
{
	"classname" "info_particle_system"
	"targetname" "pmlite49"
	"origin" "-8202.03 -5606.60 78.44"
	"angles" "0 0 0"
	"cpoint1" "pmlite50"
	"effect_name" "string_lights_04"
	"start_active" "1"
}
{
	"classname" "info_particle_target"
	"targetname" "pmlite50"
	"origin" "-8369.73 -5608.96 77.57"
	"angles" "90 90 0"
}
; =====================================================
;
;     Zonemod Infected Ladder Fixes/Additions
;
; =====================================================
add:
; -- Add Infected ladder to an additional pipe, allow for easy access onto the silos.
{
	"model" "*104"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "82.10 246.96 -19.96"
	"angles" "0.00 0.00 0.00"
}
